# Node
node_modules/
dist/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env
.pytest_cache/
projects.json
firebase_projects.txt

# OS
.DS_Store
Thumbs.db

# Project
backend/vector_store/
